<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AdminSection</title>
</head>
<body>
<h1>AdminSection</h1>
<h3>manageLibrarians</h3>
<a href="/adminSection/addLibrarian">
    <h4>add Librarian</h4>
</a>
<a href="/adminSection/viewLibrarians">
    <h4>view Librarians</h4>
</a>

<h3>manageBooks</h3>
<a href="/adminSection/addBook">
    <h4>add Book</h4>
</a>

<a href="/">
    <h4>logOut</h4>
</a>
</body>
</html>